[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "external/inih"]
	path = external/inih
	url = https://github.com/benhoyt/inih.git
